.flex-container{
background-color: hotpink;
display: flex;
flex-flow: row wrap;
height: 500px;
justify-content: flex-start;
}

.flex-items{
    background-color: lightgreen;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
}