.flex-container{
background-color: hotpink;
display: flex;
flex-flow: row wrap;
height: 500px;
justify-content: center;
align-content:space-around;
}

.flex-items{
    background-color: lightgreen;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
}

/* .div1{
    font-size: 15px;
}

.div2{
    font-size: 20px;
}

.div3{
    font-size: 10px;
}

.div4{
    font-size: 5px;
}

.div5{
    font-size: 30px;
} */
